@font-face {
    font-family: "Quicksand";
    src: url(../../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: "QuicksandBold";
    src: url(../../fonts/Quicksand-SemiBold.ttf);
}

body{
    font-family: "Quicksand";
    font-size: 16px;
}